body {
    font: 18px "Fira Code", Helvetica, Arial, sans-serif;
    line-height: 2;
    background-color: #222;
    color: #ddd;
}

a {
    color: rgb(204, 207, 10);
}

a:hover{
    color: #ddd;
}

main, footer {
    max-width: 960px;
    margin: 0 auto;
}